/* PÁGINA EVOLUÇÃO.HTML */


/* FONT AWSOME */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);



/* SOCIAL MEDIA */
.social-evolution {
    position: absolute;
    bottom: 260px;
    left: 550px;
    margin: 15px;
    font-size: 2.5em;
    transition: .1s;
}


.fa-facebook {
    margin: .1em;
}

.fa-instagram {
    margin: .1em;
}

.fa-twitter {
    margin: .1em;
}

.fa-whatsapp {
    margin: .1em;
}

/* hover */
.social-evolution a .fa-facebook:hover {
    color: rgb(42, 84, 236) !important;
    transition: .3s;
}

.social-evolution a .fa-instagram:hover {
    color: rgb(232, 25, 146) !important;
    transition: .3s;
}

.social-evolution a .fa-twitter:hover {
    color: rgb(88, 193, 238) !important;
    transition: .3s;
}

.social-evolution a .fa-whatsapp:hover {
    color: rgb(41, 212, 15) !important;
    transition: .3s;
}


/* BUTTON */
#evolution-button {
    border-radius: 7px;
    position: absolute;
    left: 615px;
    top: 100px;
    padding: 6px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    color: rgb(0, 0, 0);
    /*  background-color: rgb(231, 43, 137); */
    transition: .3s;
    box-shadow: 2px 2px 4px 1px #000;
    font-weight: 700;
}

a button:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 500;
    transform: scale(1.2);
    background-color: #FF4081;
}



/* CONTEÚDO PRINCIPAL */
div.evolution {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 150px;
    scroll-behavior: smooth;
    /* border: 1px solid #FF4081; */
}

.evolution>div.cards {
    position: relative;
    width: 80%;
    height: 80vh;
    margin: 70px;
    /*   border: 1px solid #40ffa9; */
}

div.img {
    position: absolute;
    width: 280px;
    height: 380px;
    margin-left: 10px;
}

div.img img.img-card {
    width: 280px;
    height: 380px;
    object-fit: cover;
    cursor: pointer;
    transition: .8s;
    margin: 5px;
}

.img-card:hover {
    transform: scale(1.2);
}

.img-card:hover+figcaption {
    transform: scale(1.2) translatey(45%);
    opacity: 1;
}

figcaption {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 280px;
    height: 60px;
    bottom: -5px;
    left: 5px;
    padding: 5px;
    opacity: 0;
    transition: .6s;

}

figcaption p {
    font-weight: 800;
    margin-top: 15px;
}

#img1 {
    z-index: 1;
    top: 30px;
    left: 30px;
    transform: rotate(20deg);
}

#img2 {
    z-index: 1;
    top: 30px;
    left: 30px;
    transform: rotate(10deg);
}

#img3 {
    z-index: 1;
    top: 30px;
    left: 30px;
    transform: rotate(-10deg);
}


.action-description {
    width: 350px;
    position: absolute;
    right: 280px;
    top: 220px;
    color: #FF4081;
}

.action-description h5{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    margin-top: 0;
}

i#icone-h5 {
    color: #FF4081;
    font-size: 20px;

}


article.description-evo {
    position: absolute;
    width: 220px;
    right: 10px;
    top: 90px;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid #FF4081;
    transition: .3s;
    /*    border: 1px solid #FF4081; */
}

article.description-evo p {
    text-indent: 40px;
    font-size: 1.3rem;
}



/* ANIMAÇÃO DAS IMAGENS ABRINDO */

/* CARD 1  */
/* COLEÇÃO 1 (child 1) */
#check-box:checked+label#label1>:nth-child(3) {
    transform: translateX(620px);
    transition: 1s;
}

#check-box:checked+label#label1+ .action-description + article {
    opacity: 0;
}

/* COLEÇÃO 2 (child 1) */
#check-box2:checked+label#label2>:nth-child(3) {
    transform: translateX(620px);
    transition: 1s;
}

#check-box2:checked+label#label2+ .action-description + article  {
    opacity: 0;
}

/* COLEÇÃO 3 (child 1) */
#check-box3:checked+label#label3>:nth-child(3) {
    transform: translateX(620px);
    transition: 1s;
}

#check-box3:checked+label#label3+ .action-description + article {
    opacity: 0;
}

/* COLEÇÃO 4  (child 1)*/
#check-box4:checked+label#label4>:nth-child(3) {
    transform: translateX(620px);
    transition: 1s;
}

#check-box4:checked+label#label4+ .action-description + article {
    opacity: 0;
}



/* CARD 2 */
/* COLEÇÃO 1(child 2)*/
#check-box:checked+label#label1>:nth-child(2) {
    transform: translateX(310px);
    transition: 1.1s;
}

/* COLEÇÃO 2 (child 2)*/
#check-box2:checked+label#label2>:nth-child(2) {
    transform: translateX(310px);
    transition: 1.1s;
}

/* COLEÇÃO 3 (child 2) */
#check-box3:checked+label#label3>:nth-child(2) {
    transform: translateX(310px);
    transition: 1.1s;
}

/* COLEÇÃO 4 (child 2)*/
#check-box4:checked+label#label4>:nth-child(2) {
    transform: translateX(310px);
    transition: 1.1s;
}



/* CARD 3 */
/* COLEÇÃO 1 (child 3)*/
#check-box:checked+label#label1>:nth-child(1) {
    transform: translatex(0px);
    transition: 1.3s;
}

/* COLEÇÃO 2  (child 3)*/
#check-box2:checked+label#label2>:nth-child(1) {
    transform: translatex(0px);
    transition: 1.3s;
}

/* COLEÇÃO 3 (child 3)*/
#check-box3:checked+label#label3>:nth-child(1) {
    transform: translatex(0px);
    transition: 1.3s;
}

/* COLEÇÃO 4 (child 4)*/
#check-box4:checked+label#label4>:nth-child(1) {
    transform: translatex(0px);
    transition: 1.3s;
}




/* ANIMAÇÃO DAS IMAGENS FECHANDO */
/* Coleção 1 */
label#label1>:nth-child(1) {
    transform: translateX(0px) rotate(20deg);
    ;
    transition: 1s;
}

label#label1>:nth-child(2) {
    transform: translateX(0px) rotate(10deg);
    transition: 1.1s;
}

label#label1>:nth-child(3) {
    transform: translatex(0px) rotate(-10deg);
    transition: 1.3s;
}

/* Coleção 2 */
label#label2>:nth-child(1) {
    transform: translateX(0px) rotate(20deg);
    ;
    transition: 1s;
}

label#label2>:nth-child(2) {
    transform: translateX(0px) rotate(10deg);
    transition: 1.1s;
}

label#label2>:nth-child(3) {
    transform: translatex(0px) rotate(-10deg);
    transition: 1.3s;
}

/* Coleção 3 */
label#label3>:nth-child(1) {
    transform: translateX(0px) rotate(20deg);
    ;
    transition: 1s;
}

label#label3>:nth-child(2) {
    transform: translateX(0px) rotate(10deg);
    transition: 1.1s;
}

label#label3>:nth-child(3) {
    transform: translatex(0px) rotate(-10deg);
    transition: 1.3s;
}

/* Coleção 4 */
label#label4>:nth-child(1) {
    transform: translateX(0px) rotate(20deg);
    ;
    transition: 1s;
}

label#label4>:nth-child(2) {
    transform: translateX(0px) rotate(10deg);
    transition: 1.1s;
}

label#label4>:nth-child(3) {
    transform: translatex(0px) rotate(-10deg);
    transition: 1.3s;
}


