/* MEDIA QUERY */


/* INDEX PAGE */

@media (max-width:800px) {

    /* .teste {
        color: yellow;
    } */

    /* DIV DO TÍTULO */
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: -1;
        margin-top: 100px;
        overflow: hidden;
        /*  animation: 3s Zoom-out; */
    }

    .title h1 {
        font-size: 3.5em;
        margin-top: -100px;
        margin-left: 25px;
        font-weight: 450;
    }

    /* DIV DA FOTO */
    .foto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 70%;
        overflow: hidden;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-left: -10px;

    }

    h2 span {
        font-size: 20px;
    }

    /* SOCIAL MEDIA HEADER */
    .social {
        position: absolute;
        bottom: 30px;
        left: -15px;
        margin: 45px 45px;
        font-size: 2.5em;
        z-index: 2;
    }

    /* MENU HAMBURGUER */
    label {
        position: relative;
        display: block;
        cursor: pointer;
        height: 30px;
        width: 30px;
        top: 40px;
        left: 35px;
        z-index: 2;
    }

    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 50px;
        border-radius: 20px;
        background-color: #ffff;
        transition: .6s ease-in-out;
    
    }

    /*  Itens do menu aparecem quando clicado no hamburguer */
    #checkbox-menu:checked+label .menu-container {
        animation: menu-in .8s;
        animation-fill-mode: forwards;
        width: 265px;
        background-color: rgba(0, 0, 0, .97);
    }



    /* Itens do menu somem  */
    #checkbox-menu:not(:checked)+label .menu-container {
        animation: menu-out .8s ease-out;
        width: 265px;
        background-color: rgba(0, 0, 0, .97);
    }

    .menu-container ul li {
        padding: 10px;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 15px;
        font-size: 1.8em;
        font-family: 'Kanit', sans-serif;
        font-weight: 800;
        transition: .3s;
    }

    /* SESSÃO PORTFÓLIO */
    .cards-item {
        width: 250px;
        height: 330px;
    }

    #portfolio .btn-a {
        left: 140px;
        top: 90px;
    }

    /* SESSÃO EVOLUÇÃO */
    .evolution a button {
        border-radius: 7px;
        position: absolute;
        left: 140px;
        bottom: -60px;
        padding: 6px 30px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .1em;
        color: rgb(0, 0, 0);
        /*  background-color: rgb(231, 43, 137); */
        transition: .3s;
        box-shadow: 2px 2px 4px 1px #000;
        font-weight: 700;
    }
    

    .container-card {
        /* Used to position the stacked cards */
        position: relative;
        width: 250px;
        height: 330px;
        margin: 55px;
        border-radius: 4px;
        /*   border: 1px solid #ffff; */
        transform: rotate(-4deg);
    }
    
    
    .container-card img {
        width: 250px;
        height: 330px;
        border-radius: 4px;
        object-fit: cover;
        cursor: pointer;
        transition: .5s;
    }

    .container-card a {
        width: 250px;
        height: 330px;
        border-radius: 4px;
      
    }

    .container-card a :hover {
      transform: scale(0.8);
        box-shadow: 0px 0px 3px 4px rgb(255, 255, 255);
    }

    /* SESSÃO SOBRE */

    .sobre {
        /*  scroll-behavior: smooth; */
        padding: 10px;
        margin-bottom: 100px;
    }
    
    .sobre-container {
        padding: 10px;
        margin-top: -50px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
      flex-wrap: wrap;
    }
    
    .sobre-container p {
        text-indent: 25px;
        margin: 10px 0px;
    }
    
    .article-1 {
        margin-right: 20px;
        padding: 10px;
        border-right: 1px solid #fff;
    }
    
    .div-1 {
        width: 250px;
        height: 250px;
        margin: 35px auto;
    }
    
    .div-1 img {
        object-fit: cover;
        width: 250px;
        height: 250px;
        clip-path: circle(40.8% at 50% 50%);
        margin-right: 30px;
    }
    
    
    
    .article-2 {
        padding: 10px;
        width: 90%;
        border-right: 1px solid #fff;
        margin: 50px 20px ;
    }
    
    .div-2 {
        position: relative;
        padding: 5px;
        width: 100%;
        height: 450px;
    }
    
    .div-2 img {
        width: 100%;
        height: 420px;
        object-fit: cover;
    }
    
    
    .skills {
        left: 50px;
     
    }
    

    /* SESSÃO CONTATO */
    h1#title-cont {
        margin-bottom: -165px;
    }

    section#contato-email {
      flex-wrap: wrap;
    }

    section#contato-whats {
        flex-wrap: wrap;
      }

      i.contato {
        color: #FF4081;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: -60px;
    }
    

    /* SESSÃO FOOTER */
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 550px;
    }
    
    
    /* social media */
    .social-footer {
        position: absolute;
        bottom: 0px;
        right: 100px;
        margin: 15px;
        font-size: 2.5em;
    }

    /* SCROLLSPY */
.scrollspy-footer {
    position: absolute;
    top: 220px;
    right: 130px;
    font-size: 1.1rem !important;
    width: 120px;
}

.scrollspy-footer ul li a {
    font-weight: 300;
    color: #fff;
}


}






 /* PORTFOLIO PAGE */

 /*  LIGHTBOX */
 div.box-img {
    width: 330px;
    height: 85vh;
   
}

.box-img img {
    width: 330px;
    height: 85vh;
    object-fit: cover;
}

/* Arrow left */
#prev {
    left: 10px;
    bottom: 280px;
}

/* Arrow right */
#next {
    right: 10px;
    bottom: 280px;
}

/* Close */
#close {
    right: 10px;
    top: 0px;
}




 /* SOCIAL MEDIA */
.social-portfolio {
    position: absolute;
    bottom: -150px;
    right: 0;
    left: 110px;
    margin: 15px;
    font-size: 2.5em;
    transition: .1s;
}


/* FOOTER */
.portfolio-sf {
    margin-right: 30px;
}








 /* EVOLUTION PAGE */