/* PÁGINA PORTFOLIO.HTML */

html {
    position: relative;
}

/* SOCIAL MEDIA */
.social-portfolio {
    position: absolute;
    bottom: -150px;
    left: 550px;
    margin: 15px;
    font-size: 2.5em;
    transition: .1s;
}


.fa-facebook {
    margin: .1em;
}

.fa-instagram {
    margin: .1em;
}

.fa-twitter {
    margin: .1em;
}

.fa-whatsapp {
    margin: .1em;
}

/* hover */
.social-portfolio a .fa-facebook:hover {
    color: rgb(42, 84, 236) !important;
    transition: .3s;
}

.social-portfolio a .fa-instagram:hover {
    color: rgb(232, 25, 146) !important;
    transition: .3s;
}

.social-portfolio a .fa-twitter:hover {
    color: rgb(88, 193, 238) !important;
    transition: .3s;
}

.social-portfolio a .fa-whatsapp:hover {
    color: rgb(41, 212, 15) !important;
    transition: .3s;
}


/* BUTTON */
#portfolio-button {
    border-radius: 7px;
    position: absolute;
    left: 615px;
    padding: 6px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    color: rgb(0, 0, 0);
    /*  background-color: rgb(231, 43, 137); */
    transition: .3s;
    box-shadow: 2px 2px 4px 1px #000;
    font-weight: 700;
}

a button:hover {
    font-weight: 500;
    transform: scale(1.2);
    background-color: #FF4081;
}






/* LIGHT BOX  */
div.light-box {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

div.box-img {
    width: 400px;
    height: 95vh;
    margin: 40px;
   
}

.box-img img {
    width: 400px;
    height: 95vh;
    object-fit: cover;
}

.box-img img {
    opacity: 0;
}

.light-box:target  img {
    opacity: 1;
    transition: opacity .3s linear;
}


.lb-btn {
    position: absolute;
    font-size: 3.6rem;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.lb-btn:hover {
    transform: scale(1.3);
    color: #FF4081;
}

/* Arrow left */
#prev {
    left: 100px;
    bottom: 280px;
}

/* Arrow right */
#next {
    right: 100px;
    bottom: 280px;
}

/* Close */
#close {
    right: 100px;
    top: 25px;
}


/* TARGETS */

.light-box:target {
    opacity: 1;
    visibility: visible;
    position: fixed;
}