/* FONT AWSOME */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Bangers&family=Courgette&family=Kanit:wght@100&family=Merienda&family=Monoton&family=Orbitron&family=Parisienne&family=Playfair+Display+SC&family=Poiret+One&display=swap');



* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    margin-bottom: 100px;
}

nav {
    display: none;
}

.header-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, .7) url(../img/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}


/* TÍTULO PRINCIPAL*/
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 100px;
}

.title h1 {
    font-size: 5em;
    margin-bottom: -70px;
    text-shadow: 2px 0 3px #ffff;
    letter-spacing: 0.1em;
    /*   font-family: 'Amatic SC', cursive; */
    /*  font-family: 'Anton', sans-serif; */
    /*   font-family: 'Bangers', cursive; */
    /* font-family: 'Courgette', cursive; */
    /*  font-family: 'Kanit', sans-serif; */
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Monoton', cursive; */
    font-family: 'Orbitron', sans-serif;
    /* boa */
    /*  font-family: 'Parisienne', cursive; */
    /*  font-family: 'Playfair Display SC', serif; */
    /*  font-family: 'Poiret One', cursive; */
}


/* FOTO */
.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}

.foto img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



/* LOGO */
.logo {
    width: 100px;
    height: 100px;;
}

h2 span {
    font-size: 40px;
}


/* TÍTULOS */
h1 {
    margin: 100px 0 120px 0;
    font-size: 4em;
     font-family: 'Poiret One', cursive;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 2px 3px 3px #000;
}

h2 {
    margin: 80px 0 40px 0;
    font-size: 2.5em;
     /*   font-family: 'Amatic SC', cursive; */
    /*  font-family: 'Anton', sans-serif; */
    /*   font-family: 'Bangers', cursive; */
    /* font-family: 'Courgette', cursive; */
     font-family: 'Kanit', sans-serif;
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Monoton', cursive; */
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 2px 3px 3px #000;
}

p {
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}



/* PORTFÓLIO */
#portfolio {
    position: relative;
}

.portfolio {
   /*  padding: 10px; */
   /*  background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#portfolio button {
    position: absolute;
    left: 610px;
    top: 85px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 2px 3px 4px #000;
    
}

.cards-item {
    width: 325px;
    height: 400px;
    margin: 6px;
    
}

.cards-item img {
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}



/* EVOLUTION */
.evolution {
    position: relative;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.evolution button {
    position: absolute;
    left: 280px;
    bottom: 90px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 2px 3px 4px #000;
    
}

.container-card {
    /* Used to position the stacked cards */
    position: relative;
    width: 300px;
    height: 350px;
    background-color: pink;
}

.container-card img {
    width: 200%;
    height: 250%;
    object-fit: cover;
}

.container__card {
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;
   
  

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Displayed under the container */
    z-index: -1;

    /* Background and border colors */
    background-color: rgb(232, 13, 13);
    border: 1px solid rgba(0, 0, 0, 0.3);

    /* Rotate it. Change the number of degrees for the following cards */
    transform: rotate(5deg);
}



.layered-card {
    position: relative;
    width: 300px;
    height: 350px;
    background-color: aqua;
    margin: 20px;
    border-radius: 3px;
}


/* PÁGINA SOBRE */
.sobre {
    padding: 10px;
    margin-bottom: 100px;
}

.sobre-container {
    padding: 10px;
    margin-top: -50px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.sobre-container p {
    text-indent: 25px;
    margin: 10px 0px;
}

.article-1 {
    margin-right: 20px;
    padding: 10px;
    border-right: 1px solid #fff;
}

.div-1 {
    padding: 5px;
    width: 250px;
    height: 250px;
    background-color: aqua;
}

.article-2 {
    padding: 10px;
}

.div-2 {
    padding: 5px;
    width: 250px;
    height: 250px;
    background-color: aqua;
}
