/* FONT AWSOME */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Bangers&family=Courgette&family=Kanit:wght@100&family=Merienda&family=Monoton&family=Orbitron&family=Parisienne&family=Playfair+Display+SC&family=Poiret+One&display=swap');



* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

nav {
    display: none;
}

.header-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, .7) url(../img/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}


/* TÍTULO */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 100px;
}

.title h1 {
    font-size: 6em;
    margin-bottom: 5px;
    text-shadow: 2px 0 3px  #ffff;
  /*   font-family: 'Amatic SC', cursive; */
   /*  font-family: 'Anton', sans-serif; */
  /*   font-family: 'Bangers', cursive; */
    /* font-family: 'Courgette', cursive; */
   /*  font-family: 'Kanit', sans-serif; */
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Monoton', cursive; */
     font-family: 'Orbitron', sans-serif;            /* boa */
   /*  font-family: 'Parisienne', cursive; */
   /*  font-family: 'Playfair Display SC', serif; */
   /*  font-family: 'Poiret One', cursive; */
}

.title h2 {
    margin-top: 0px;
}


/* FOTO */
.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}

.foto img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



/* LOGO */
.logo {
    width: 100px;
    height: 100px;
}

h2 span {
    font-size: 40px;
}




/* PORTFÓLIO */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    border-color: aquamarine;
}