@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);


body{
    margin: 0;
    padding: 0%;
}

header{
    width: 99,8vw;
    height: 100vh;
  /*   background-color: pink; */
}

.brand-logo{
    margin-left: 1.5em;
    margin-top: .3em;
}

.nav-wrapper{
    padding-right: 35px;
}
